/* stylelint-disable custom-property-empty-line-before */

:root {
  --font-family-base: 'HelveticaNeueCyr', sans-serif;

  --COLOR-DARK: #000;
  --COLOR-LIGHT: #fff;

  --color-accent: #186fd4;
  --color-danger: #e52b0e;

  --tc-primary: #2c333d;
  --tc-secondary: #6b6c72;

  --border: 1px solid #eaeaea;

  --bgc-section: #f9fafb;
}
