/* stylelint-disable custom-property-empty-line-before */

@use '../helpers' as *;

:root {
  --font-family-base: 'HelveticaNeueCyr', sans-serif;

  --COLOR-DARK: #000;
  --COLOR-LIGHT: #fff;

  --color-accent: #186fd4;
  --color-danger: #e52b0e;

  --tc-primary: #2c333d;
  --tc-secondary: #6b6c72;

  --border: #{rem(1)} solid #eaeaea;

  --bgc-section: #f9fafb;

  --color-overlay: rgb(1 17 32 / 90%);

  --color-icon-dark: #16191e;
}
