@use '../../../scss/helpers' as *;

.form {
  display: flex;
  flex-direction: column;
  max-width: rem(735);
  row-gap: rem(15);

  &--modal {
    row-gap: rem(25);
  }

  &__row {
    &--first {
      display: flex;
      align-items: center;
      gap: rem(20);

      @include laptop-s {
        flex-direction: column;
        align-items: normal;
        gap: rem(15);
      }
    }

    &--trigger {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: rem(30);

      .form__button {
        flex: 1 1 rem(209);
      }
    }
  }

  &__field {
    flex-grow: 1;
  }

  &__label {
    display: block;
    margin-bottom: rem(10);
    font-size: rem(14);
    color: #011120;

    span {
      color: var(--color-danger);
    }
  }

  &__input {
    border: var(--border);
    border-radius: rem(7);
    padding: rem(22) rem(20);
    width: 100%;
    box-shadow: 0 rem(1) rem(2) 0 rgb(0 0 0 / 7%) inset;
    line-height: normal;
    background: var(--COLOR-LIGHT);

    &::placeholder {
      color: #adb1b7;
    }

    &--message {
      min-height: rem(89);
      max-height: rem(200);
      resize: vertical;
    }
  }

  &__button {
    width: 100%;
  }
}
