@use '../../../scss/helpers' as *;
@use '../../../../node_modules/hystmodal/dist/hystmodal.min.css';

.modal {
  &.hystmodal::before {
    background-color: #011120;
  }

  &.hystmodal--active::before {
    opacity: 0.9;
  }

  .hystmodal__window {
    border-radius: 8px;
    padding: rem(40);
    width: 100%;
    max-width: rem(618);
    background-color: var(--COLOR-LIGHT);
  }

  &__head {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(25);
    text-align: center;
    row-gap: rem(15);
  }

  &__title {
    @include fluid-text(33, 26);

    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-block: 0;
  }
}
