.header-bottom
	.header-bottom__container.container
		.header-bottom__logo
			include ../../blocks/logo/logo
		.header-bottom__catalog-menu
			include ../../blocks/catalog-menu/catalog-menu
		.header-bottom__search
			include ../../blocks/site-search/site-search
		.header-bottom__actions
			include ../../blocks/user-actions/user-actions
