@use '../../../scss/helpers' as *;

.header-top {
  border-bottom: var(--border);
  padding-block: rem(10);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(18);
  }

  &__info {
    display: flex;
    align-items: center;
    gap: rem(12);
  }

  &__work-time {
    display: none;
    font-size: rem(13);
    line-height: normal;
    color: var(--tc-secondary);
    margin-block: 0;

    @include mobile {
      display: block;
    }
  }

  &__phone {
    font-weight: 500;
    font-size: rem(16);
    line-height: normal;
    text-decoration: none;
    color: var(--COLOR-DARK);
  }

  &__order-call {
    display: inline-block;
    border: none;
    border-radius: rem(4);
    padding: rem(10) rem(14);
    font-weight: 700;
    font-size: rem(12);
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #2a5e8d;
    background-color: #f2f6fc;
  }
}
