block variables
	- var title

doctype html
html.page(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title=title
		block styles
			link(rel="stylesheet" href="styles/main.css")
		block scripts
			script(src="scripts/index.bundle.js" defer)
	body.page__body
		//- Header
		block main
		//- Footer
